tmp/cache/bootsnap/
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
/vendor/bundle
/node_modules
config/master.key
config/credentials.yml.enc
.env
.env.local
.env.*.local
/.envrc
/tmp/
log/
storage/
tmp/cache/
tmp/pids/
tmp/sockets/
tmp/screenshots/
public/assets
public/packs
public/packs-test
tmp/cache/bootsnap/
log/*.log
log/*.json
log/*.txt
/public/system/
public/uploads
coverage/
sdoc/
.byebug_history
capybara-*
.ruby-gemset
.ruby-version
.rbenv-vars
